{% extends 'control/main.html' %}

{% block title %}Home{% endblock title %}
{% load static %}
{% block headline %}
    Welcome to the Music Archive!
{% endblock headline %}

{% block content %}
<div class="home-container card card-body">
    <div class="buttons">
        <button onclick="window.location.href='{% url 'control:songs.add' %}'">Add New Song</button>
        <button onclick="window.location.href='{% url 'control:playlists.new' %}'">Create New Playlist</button>
    </div>
    <div class="card playlists">
        <h2>Playlists</h2>
        <div id="playlists">
            {% for playlist in playlists %}
            <div class="playlist" data-playlist-id="{{ playlist.id }}">
                <h2 onclick="toggleSongs(this)" ondblclick="navigateToPlaylist({{ playlist.id }})">
                    <a href="{% url 'control:playlist-detail' pk=playlist.id %}"><i class="fas fa-compact-disc" ></i></a>
                    {{ playlist.name }}
                </h2>
                <ul class="songs" style="display:none;" ondblclick="navigateToPlaylist({{ playlist.id }})">
                    {% for song in playlist.songs.all %}
                    <li>{{ song.name }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
            
        </div>
    </div>

    <div class="card recent-songs">
        <h2>Recently Played Songs</h2>
        <ul>
            {% for song in recent_songs %}
            <li class="song-item">
                <span class="song-name">{{ song.name }}</span>
                <span class="song-played">{{ song.last_played|date:"D, d M Y H:i" }}</span>
            </li>
            {% empty %}
            <li>No songs played recently.</li>
            {% endfor %}
        </ul>
    </div>
   
</div>
{% endblock content %}

{% block css_files  %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/playlists.css' %}" />
<script src="{% static 'scripts/playlists.js' %}"></script>
<script src="{% static 'scripts/home.js' %}"></script>

<script>
    function navigateToPlaylist(playlistId) {
        window.location.href = `{% url 'control:playlist-detail' pk=0 %}`.replace('/0', '/' + playlistId);
    }
</script>
{% endblock  %}