{% extends 'control/main.html' %}
{% load static %}
{% block title %}
Songs
{% endblock title %}

{% block content %}

<table>
    <thead>
        <tr>
          <th>Title</th>
          <th>Duration</th>
          <th>Tags
            <a href="your-link-here.html">
                <i class="fas fa-search"></i>
            </a>
            
          </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
    {% for song in songs %}
        <tr>
            <td>
{{song.name}}            
</td>
            <td>
                {{song.duration}}
            </td>
            <td>
                {% for tag in song.tags.all %}
                {{ tag }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
                        </td>
                        <td>
                            <a href="">                <i class="fas fa-tag"></i>
                            </a>
                            <a href="">                <i class="fas fa-trash"></i>
                            </a>
                        </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}