{% extends 'control/main.html' %}
{% load static %}
{% block title %}
Songs
{% endblock title %}

{% block content %}

<table>
    <thead>
        <tr>
          <th>Title</th>
          <th>Duration</th>
          <th>Tags
            <a href="your-link-here.html">
                <i class="fas fa-search"></i>
            </a>
            
          </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
    {% for song in songs %}
        <tr>
            <td>
                song.name
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}