
.login {
    display: flex;
    justify-content: center; /* horizontally center */
    align-items: center;    
    height: 100vh; 
}

.center {
    margin: auto;
    width: max-content;
  }


.basic {
    background-color: rgba(255, 0, 0, 0);
    transition: background-color 1.5s;
    background: rgb(64, 64, 64);
    color:rgb(217, 200, 183);
}
  
.hover-fade:hover {
    background-color: rgba(255, 255, 255, 0.555);
  }
