.playlist h2 {
    background-color: antiquewhite;
    min-width: 100px; /* Sets the minimum width */
    cursor: pointer;
    color: #06213e; /* Bootstrap primary blue for example */
    border-radius: 10px; /* Adds rounded corners */
    margin: 5px; 
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 15px;
}

.playlist h2 i {
    margin-right: 5px; /* Adds spacing between the icon and the text */
}
.playlist h2:hover {
    text-decoration: underline;
}

.playlist li {
    background-color: rgb(128, 110, 87);
    min-width: 100px; /* Sets the minimum width */
    cursor: pointer;
    color: #06213e; /* Bootstrap primary blue for example */
    border-radius: 10px; /* Adds rounded corners */
    margin: 5px 0; /* Optional: Adds some space above and below each h2 */
    padding-left: 5px;
    padding-right: 15px;

}
