

.playlist {
    padding: 20px;
    background-color: #76767644;
    display: flex;
    border: #333;
    border-radius: 15px;
    flex-direction: column;
    align-items: flex-start;
}

.playlist .song {
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.playlist .song:hover {
    background-color: #676767;
    transform: scale(1.05);
}

.playlist .song.current {
    background-color: #676767;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.DND-Button {
    margin-top: 4px;
    color: #cca37a;
    background-color: #76767644; /* Makes the background transparent */
    border: 2px solid #000; /* Adds a black border, adjust color as needed */
    border-radius: 15px; /* Adjust the radius to your preference for roundness */
    padding: 10px 20px; /* Optional: Adjust padding for better spacing inside the button */
    outline: none; /* Removes focus outline, add only if you handle focus state differently */
    transition: all 0.3s ease; /* Smooth transition for hover effects, optional */
}

.DND-Button:hover {
    background-color: rgba(226, 226, 226, 0.278); /* Optional: Slight darkening on hover, adjust opacity as needed */
}

audio {
    width: 100%; /* Adjust width to fit the container */
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0; /* Align with the playlist width */
    background-color: #333;
    border: none;
    outline: none;
    color: #fff;
}

audio::-webkit-media-controls-panel {
    background-color: #333;
    border-radius: 0;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-mute-button {
    color: #fff;
}

audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    background-color: #333;
    color: #fff;
}

.repeat-btn.active{
    border: #734201;
    border-radius: 4px;
    color: #3700ff;
}

.repeat-btn {
    background-color: transparent;
    border: transparent;
    color: #767676;
}

