
.playlist {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
}

.container{
    margin-top: 80px;
    background: rgba(255, 255, 255, 0);
}
.btn-save {
    width: 100px;
    margin-top: 4px;
    color: #cca37a;
    background-color: rgba(78, 78, 78, 0.27); /* Makes the background transparent */
    border: 2px solid rgba(255, 255, 255, 0.5); /* 50% alpha for the border */
    border-radius: 5px; /* Adjust the radius to your preference for roundness */
    padding: 10px 20px; /* Optional: Adjust padding for better spacing inside the button */
    margin-bottom: 10px;
}

.btn-save:hover {
    background-color: rgba(226, 226, 226, 0.278); /* Optional: Slight darkening on hover, adjust opacity as needed */
}
audio {
    width: calc(100% - 50px); /* Shorten the width by 50px to make space for the repeat button */
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #333;
    border: none;
    outline: none;
    color: #fff;
}

audio::-webkit-media-controls-panel {
    background-color: #333;
    border-radius: 0;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-mute-button {
    color: #fff;
}

audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    background-color: #333;
    color: #fff;
}

.repeat-btn {
    background-color: #fff;
    position: fixed;
    right: 0; /* Position at the bottom right */
    bottom: 0;
    width: 50px; /* Define a fixed width */
    height: 50px; /* Same height as the player */
    border: none;
    color: #767676;
    cursor: pointer; /* Make it look clickable */
}

.repeat-btn.active {
    border: 2px solid #734201;
    border-radius: 4px;
    color: #3700ff;
}

