{% extends 'control/main.html' %}
{% load static %}
{% load dict_filter %}

{% block title %}Playlists{% endblock title %}

{% block content %}
{% for playlist in playlists %}
<h1 class="DND">{{playlist}}</h1>
  <div class="card playlist" id="playlist">
    {% with playlist_songs=songs|get:playlist.id %}

    {% for song in playlist_songs %}
    <div class="song" data-audio="{{ song.audio.url }}" id="{{song.id}}">
        <p>{{ song }}</p>
        <audio src="{{ song.audio.url }}" id="audio-{{ song.id }}" preload="none"></audio>
    </div>
    {% endfor %}
    {% endwith %}

  </div>
  <audio id="audioPlayer" controls>
    <source id="audioSource" src="" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
  <div>  
    <button class="repeat-btn">
      <i class="fas fa-redo"></i> 
    </button>  
    <button class="DND-Button" id="saveOrderButton">Save Playlist</button>
  </div>
  {% endfor %}


{% endblock %}
{% block css_files %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/songplayer.css' %}" />
  <script src="{% static 'scripts/playlists.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>

{% endblock %}
