{% extends 'control/main.html' %}
{% load static %}

{% block title %}Playlists{% endblock title %}

{% block content %}

<div id="playlists">
    {% for playlist in playlists %}
    <div class="playlist" data-playlist-id="{{ playlist.id }}">
        <h2 onclick="toggleSongs(this)" ondblclick="navigateToPlaylist({{ playlist.id }})">
           <a href="{% url 'control:playlist-detail' pk=playlist.id %}"><i class="fas fa-compact-disc"></i></a> 
            {{ playlist.name }}
        </h2>
        <ul class="songs" style="display:none;">
            {% for song in playlist.songs.all %}
            <li>{{ song.name }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
    
</div>
{% endblock %}


{% block scripts %}

{% endblock %}
{% block css_files %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/playlists.css' %}" />
  <script src="{% static 'scripts/playlists.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
  <script>
    function toggleSongs(header) {
        // Toggle the display of the adjacent 'songs' list
        var songList = header.nextElementSibling;
        if (songList.style.display === "none") {
            songList.style.display = "block";
        } else {
            songList.style.display = "none";
        }
    }

    function navigateToPlaylist(playlistId) {
        window.location.href = `{% url 'control:playlist-detail' pk=0 %}`.replace('/0', '/' + playlistId);
    }
    </script>
    
{% endblock %}